*{
	margin: 0;
	box-sizing: border-box;
	
}

body{
	background-color: red;
	color: #fff;
}
.contenedor{
	max-width: 1080px;
	margin: 0 auto;
}

.header{
	padding: 40px;
	justify-content: space-between;
}

.dlogo{
	width: 500px;
}
.logo-coto{
	width: 100%;
}

.flex{
	display: flex;
}


.dias{
	align-items: center;
	color: black;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	
}

.de{
	margin-right: 15px;
	position: relative;

}

.circulo {
	font-size: 20px;
	text-transform: lowercase;
	background-color: black;
	color: #fff;
	padding: 16px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	bottom: 35%;
	left: 85%;
}

.fechas{
	width: 140px;
	padding: 15px;
	border: solid 2px black;
	border-radius: 20px;
	text-align: center;
	background-color: #fff;
	max-width: 100%;


}


.negra{
	font-size: 70px;
}

h1{
	text-transform: uppercase;
	font-size: 74px;
	text-align: center;

}
.lista-productos{
	font-size: 40px;
	justify-content: space-between;
	list-style: none;
	text-transform: uppercase;
	
}

.productos{
	;
}

.left{
	width: 540px;
	overflow: hidden
}

   .left img{
   	/*max-width: 100%;*/

   }

.right{ 
	width: 540px;
	flex-flow: row wrap;
	background-color: #fff;
	color: black;
 }   

.cuadros{
	width: 270px;
	height: 201px;
	padding: 5px;
	position: relative;
	text-align: center;
}

   .cuadros img{
   	
   	max-width: 80%

}

.precios{
	position: absolute;
	top:95px;


}   

.actual{
	background-color: yellow;
	border: solid 2px black;
	padding: 10px;
	width: 60%;
	text-align: center;
	font-weight: 900;
	font-size: 20px;


}



.text-anterior{
	color: red;
}


footer{
	height: 30px;
}
footer p{
	text-transform: uppercase;
	font-size: 13px;
}


/*responsive */

@media ( max-width: 1095px){
    

    h1{
    	font-size: 65px;
    }	

    .lista-productos{
    	font-size: 30px;
    }

	.productos{
		flex-direction: column;
	}

	.left{
		width: auto;
	}

	.right{
		width: auto;
	}
	

}

/*Iphone 8 plus */
@media ( max-width: 414px){
	
	.contenedor{
		padding: 7px;
	}	

		header{
		flex-direction: column;
	}

	.dlogo{
		width: 350px;
		margin-bottom: 15px;
	}

	
    .dias{
	font-weight: 600;
	font-size: 15px;
	justify-content: center;
	
	}

	.negra{
		font-size: 25px;
	}

	.fechas{
	width: 100px;
	padding: 15px;
	max-width: 100%;

}



    .circulo {
	font-size: 20px;
	padding: 10px;
	width: 50px;
}

    h1{
    	font-size: 45px;
    }



    .logo-coto{
    	max-width: 100%
    }

    .lista-productos{
    	font-size: 15px;
    	flex-flow: row wrap;
    }

    .left{
    	height: 400px;
    }
	
	.right{ 
	width: 100%;
	
 }   

    .cuadros{
	width: 198px;
	height: 100px;
	padding: 5px;
	margin-bottom: 45px;
}

.precios{
	top: 60px;

}   

.actual{

	padding: 10px;
	width: 50%;
	font-size: 15px;
}

footer{
	padding: 10px;
	
}




}

/*Iphone SE*/

@media ( max-width: 320px){
	
	.contenedor{
		padding: 5px;}

	.dlogo{
		width: 250px;
		margin-bottom: 15px;
	}

	h1{
		font-size: 35px;
		margin-bottom: 5px;
	}

	.lista-productos{
    	font-size: 15px;
    	justify-content: center;
    }

    .right{
    	padding-bottom: 10px;
    }
    .cuadros{
	width: 138px;
	height: 50px;
	padding: 5px;
	margin-bottom: 45px;
	}

	.precios{
	top: 40px;

	}   

	.actual{

	padding: 5px;
	width: 50%;
	font-size: 14px;
	}
	.anterior{
		font-size: 12px;

	}

}	